<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
	  	<File name="egovLogger" fileName="D:/logs/sujjang.log" append="false">
	   		<PatternLayout pattern="%d %5p [%c] %m%n"/>
	  	</File>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="egovLogger" />
        </Logger>
        <Logger name="egovframework" level="INFO" additivity="false">
            <AppenderRef ref="egovLogger" />
        </Logger>
		  <!-- log SQL with timing information, post execution -->
	    <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
	        <AppenderRef ref="egovLogger" />
	    </Logger>
	    <Logger name="org.springframework" level="INFO" additivity="false">
	        <AppenderRef ref="egovLogger" />
	    </Logger>
        <Root level="INFO">
        	<AppenderRef ref="console" />
            <AppenderRef ref="egovLogger" />
        </Root>
    </Loggers>
</Configuration>
